*{
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    margin: 0;
}
body.light{
    background-color: #f7f6f2;
}
body.dark{
    background-color: black;
}
body.color{
    background-color: #fbf6de;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1% 15%;
}
.header-login-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.header-login-div img {
    width: 2rem;
}
.home-logo{
    color: black;
    text-decoration: none;
}
.book-div-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3% 15%;
}
.bookCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    width: 170px;
    padding: 1rem;
    margin: 0.5rem;
    gap: 0.3rem;
    position: relative;
}
.bookImg{
    width: 100%;
    aspect-ratio: 3 / 4;
    border-radius: 0.5rem;
}
.bookCard h2{
    font-size: 1rem;
}
.bookCard p{
    color: #808080;
    margin: 0;
    font-size: 0.755rem;
}
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(4px);
  }
.modal-container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: relative;
}
.modal-h2{
    text-align: center;
}

.close-btn{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    color: #aaa;
}

.modal-container h2{
    margin-top: 0;
}

.modal-container input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button{
    width: 100%;
    padding: 10px;
    background-color: #4f7962;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
.button:hover {
    text-decoration: underline;
}
.new-account-p{
    margin-top: 3rem;
}
.create-account-btn{
    background-color: white;
    color: #4f7962;
    border: solid 2px #4f7962;
    margin-top: 1rem;
}
.create-account-btn:hover {
    text-decoration: underline;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
.loggedinUserHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-account-btn{
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.to-read-btn, .star-btn{
    background: none;
    border: none;
    cursor: pointer;
}

/* Profile-page */
.saved-books, .rated-books{
    display: flex;
    justify-content: center;
}

.saved-books-h2-container, .rated-books-h2-container{
    background-color: #e6e6e6;
    border: none;
    margin-top: 2%;
    width: 80%;
    padding: 1%;
    border-radius: 10px;
}
.saved-books-h2, .rated-books-h2{
    font-weight: 300;
    text-align: center;
}
.saved-books-div-container, .rated-books-div-container{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 0 10%;
}
.savedBookCard{
    flex: 0 0 auto;
    width: 170px;
}
.sort-saved-books, .sort-rated-books{
    height: 2rem;
    border-radius: 5px;
    margin: 1% 10%;
    border: 1px solid lightgrey;

}
.rating {
    display: flex;
    gap: 2px;
    cursor: pointer;
  }
  
.heart-and-raiting-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.remove-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.remove-btn:hover{
    border: 1px solid red;
}
.rated-books-div-container{
    margin-bottom: 10%;
}
span.fa.fa-star {
    font-size: 20px;
    color: lightgray;
    transition: color 0.2s;
  }
.checked {
    color: orange;
  }
  .fa.fa-star:hover{
    color: orange;
  }
.footer-container{
    background-color: white;
    padding: 1%;
}
.footer-loggo-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    margin-bottom: 1%;
}
.link-container, .img-icon-container{
    display: flex;
    justify-content: center;
    gap: 2%;
    text-decoration: none;
    color: black;
    padding-top: 1%;
}
hr{
    width: 50%;
    margin: auto;
}
.link-text{
    text-decoration: none;
    color: black;
}
.heart-icon{
    color: lightgray;
}
.heart-icon:hover{
    color: red;
}
